source https://nuget.org/api/v2
storage:none

clitool dotnet-fable
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.PowerPack prerelease
nuget Fable.React prerelease
nuget Fable.Import.Browser
nuget Fable.Import.Node
nuget Hink

group Build
  source https://nuget.org/api/v2
  nuget FAKE